// 字体定义
@font-face {
  font-family: 'SF UI Text';
  src: url('./SFUIText-Regular.ttf') format('truetype');
  font-weight: 100 500;
  font-style: normal;
}

@font-face {
  font-family: 'SF UI Text';
  src: url('./SFUIText-Bold.ttf') format('truetype');
  font-weight: 600 900;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  -webkit-touch-callout: none;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  font-weight: bold;
  border: 0;
}

.van-swipe__track {
  display: flex !important;
}

.obg {
  width: 100%;
  height: 100%;
  flex-shrink: 0;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dfc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

// 超出省略号
.public-overflow-ellipsis,
.overflow-ellipsis,
.ow,
.ov {
  overflow: hidden; //超出的文本隐藏
  text-overflow: ellipsis; //溢出用省略号显示
  white-space: nowrap; //溢出不换行
}

// list 一行 flex 横向布局
.public-flex-lineAround,
.fl {
  display: flex;
  align-items: center;
}

.public-flex-between,
.flb {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.public-flex-center,
.fc {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fca {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.flc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.public-flex-left {
  display: flex;
  justify-content: left;
  align-items: center;
}

.public-flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.public-flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.public-flex-multi-row-start {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
}